* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'arial', sans-serif;
    color: #030027;
    background-color: #F2F3D9;
    text-align: center;
}

nav {
    /*border:2px solid green;*/
    background-color: #030027;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
}

.name-company {
    /*border: 2px solid white;*/
    text-transform: uppercase;
    font-weight: bold;
}

.nav-ul {
    /*border: 2px solid red;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
}

.section-info-company {
    /*border: 2px solid darkmagenta;*/
    padding: 40px;
}

.div-articles {
    /*border: 2px solid darkred;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}

.article-details {
    /*border: 2px solid darkblue;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 350px;
    padding: 30px;
    margin: 30px;
    background-color: #C16E70;
    border-radius: 5px;
}
